# No.1导入必要的库

In [1]:
import pandas as pd

# No.2导入数据

In [2]:
path = 'E:\python课程\下载\chipotle\chipotle.tsv'
# 数据下载地址：kaggle官网
# https://www.kaggle.com/andyxie/chipotle/downloads/

In [3]:
chipo = pd.read_csv(path,sep='\t')

# No.3查看数据

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# No.4查看数据详情、列与行

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [6]:
chipo.shape

(4622, 5)

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# No.5计算出下单数量最多的商品是什么？

In [9]:
item_group = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False)

In [10]:
top_item = item_group.agg({'quantity':sum})

In [11]:
top_item.sort_values(['quantity'],ascending=False,inplace=True)

In [12]:
top_item.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [13]:
top_item.sort_values(['quantity'],ascending=False)

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
49                      Veggie Soft Tacos         8
13                  Carnitas Crispy Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

In [14]:
top_item

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

# No.6在item_name这一列中，统计多少种商品下单？

In [15]:
size = chipo['item_name'].nunique()
print('item_name numbers is :',size)

item_name numbers is : 50

# No.7统计choice_description中，下单次数最多的商品？

In [16]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [17]:
choice_num = chipo['choice_description'].dropna().value_counts()

In [18]:
type(choice_num)

pandas.core.series.Series

In [19]:
top_5 = choice_num[:5].copy()

In [20]:
for i in range(5):
    print('the sales choice is {0} and the numbers is {1}'.format(top_5.index[i],top_5[i]))

the sales choice is [Diet Coke] and the numbers is 134
the sales choice is [Coke] and the numbers is 123
the sales choice is [Sprite] and the numbers is 77
the sales choice is [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]] and the numbers is 42
the sales choice is [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]] and the numbers is 40

# No.8一共有多少商品被下单？？

In [21]:
total_item_orders = chipo['quantity'].sum()
print('total_item_orders is ',total_item_orders)

total_item_orders is  4972

In [22]:
chipo.info() #item_pirce is object ,change float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [23]:
chipo['item_price'].head()

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [24]:
chipo['item_price'] = chipo['item_price'].apply(lambda x:float(x[1:-1]))

In [25]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

# No.9统计销售额是多少？

In [26]:
chipo.head() # quantity * item_price

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [27]:
# 新增一列统计销售额数据
chipo['sub_total'] = round(chipo['item_price']*chipo['quantity'],2)
sum_sub = chipo['sub_total'].sum()
print('the revenue is $'+str(sum_sub)+';')

the revenue is $39237.02;

# No.10一共有多少张订单？

In [28]:
order_sum = chipo['order_id'].nunique()
print('The sum of orders is ',order_sum)

The sum of orders is  1834

# No.11每一单(order)对应的平均总价是多少？

In [29]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,sub_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [30]:
groups = chipo[['order_id','sub_total']].groupby('order_id')
order_id_sum = groups.agg({'sub_total':'sum'})# type is DataFrame
order_id_mean = order_id_sum.mean()# type is Series
print('Every order mean price is:$'+str(round(order_id_mean[0],2)))

Every order mean price is:$21.39

# No.12一共有多少种不同的商品被出售？？

In [31]:
item_name_kind = chipo['item_name'].dropna().nunique()
print('kind of item name is',item_name_kind)

kind of item name is 50